<div class="btn-group" role="group" aria-label="...">
	<button id="checkAll" type="button" class="btn btn-default">全选</button>
	<button id="checkReverse" type="button" class="btn btn-default">反选</button>
	<button id="checkCancel" type="button" class="btn btn-default">取消</button>
	<button id="inOutEditMode" type="button" class="btn btn-default">进入编辑模式</button>
	<button class="btn btn-default" data-toggle="modal" data-target="#myModal">添加</button>
	<button id="multiDel" type="button" class="btn btn-default">删除</button>
	<button id="refresh" type="button" class="btn btn-default">刷新</button>
	<button id="save" type="button" class="btn btn-default">保存</button>
	<a href="/User/usersinfo/" type="button" class="btn btn-default">用户管理</a>
	<a href="/User/groupinfo/" type="button" class="btn btn-default">组管理</a>
</div>
<table class="table table-bordered table-striped  table-hover">
	<thead id="tbHead">
	<tr>
	</tr>
	</thead>
	<tbody id="tbBody">
	</tbody>
</table>


